.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    padding: 1rem;
    color: #333e48;
}

.para {
    margin-bottom: 4rem;
}

@media (max-width: 768px) {
    .mainContainer {
        padding: 2rem;
    }

    p {
        font-size: 14px;
        margin-bottom: 1.5rem;
    }
}
